Makefile
build/
easybench
*.user*
*.pro.user
*.o
moc_*
qrc_*

.qmake.stash
*.run
*.zip
md5sum.txt
dist/
build/_CPack_Packages/
build/easybench-*.tar.gz

.vscode

# Local overrides (use config/easybench.conf as template)
/easybench.conf