Makefile
build/
tuxibit
*.user*
*.pro.user
*.o
moc_*
qrc_*

.qmake.stash
*.run
*.zip
md5sum.txt
dist/
build/_CPack_Packages/
build/tuxibit-*.tar.gz

.vscode

# Local overrides (use config/tuxibit.conf as template)
/tuxibit.conf