[Desktop Entry]
Name=GYT Box
Name[zh_CN]=GYT Box
GenericName=GBox
GenericName[zh_CN]=GBox
Comment=System test & monitor
Comment[zh_CN]=系统测试与监控
TryExec=gyt_box
Exec=/usr/bin/gyt_box
Icon=gyt_box
Type=Application
X-MATE-DocPath=mate-terminal/index.html
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-terminal
X-MATE-Bugzilla-Component=BugBuddyBugs
X-MATE-Bugzilla-Version=1.12.1
Categories=System;GTK;Utility;TerminalEmulator;
StartupNotify=true
Keywords=MATE;terminal;shell;prompt;command;commandline;
