[Desktop Entry]
Name=GYT Box
Comment=system test & monitor
Exec=/home/root/tools/gbox/gyt_box.sh
Terminal=true
Type=Application
Icon=gyt_box
X-MB-SingleInstance=false
StartupNotify=true
Categories=System;Settings;
