<?xml version="1.0" encoding="UTF-8"?>
<setting name="seat settting">
    <channel_normal>
        <all channelno="255" text="所有通道" type="255"/>
        <leftphone channelno="0" text="左话机" type="0"/>
        <rightphone channelno="1" text="右话机" type="0"/>
        <speak channelno="2" text="通播" type="1"/>
        <radio channelno="3" text="电台" type="2"/>
    </channel_normal>
    <channel_leader>
        <all channelno="255" text="所有通道" type="255"/>
        <leftphone channelno="0" text="话机" type="0"/>
        <speak channelno="2" text="通播" type="1"/>
        <radio channelno="3" text="电台" type="2"/>
    </channel_leader>
    <channel_normal_ex>
        <channel channelno="4" text="扩展电话1"/>
        <channel channelno="5" text="扩展电话2"/>
        <channel channelno="6" text="扩展电话3"/>
        <channel channelno="7" text="扩展电话4"/>
    </channel_normal_ex>
    <channel_leader_ex/>
    <play_channel_normal>
        <leftphone channelno="0" text="左话筒" type="0"/>
        <rightphone channelno="1" text="右话筒" type="0"/>
        <speak channelno="2" text="左扬声器" type="1"/>
        <radio channelno="3" text="右扬声器" type="2"/>
    </play_channel_normal>
    <play_channel_leader>
        <leftphone channelno="0" text="话筒" type="0"/>
        <speak channelno="2" text="扬声器" type="1"/>
    </play_channel_leader>
    <chnlvolumn volstep="32"/>
    <server ip="192.168.3.101"/>
    <local ip="192.168.3.100"/>
    <backlightserver ip="127.0.0.1"/>
    <hotkeyicon size="small"/>
    <radiomode listen="listen" control="singlecontrol"/>
    <video videotimeout="1" size="640,480" bitrate="512000" requesttimeout="30" transport="gateway" payload="h264" maxsize="640,480" camera="Directshow capture: USB 视频设备" jitter="30" autoadaptbitrate="0" rtpport="50088" queryaddrtimeout="10" symmetricrtp="0"/>
    <toolbar>
        <item type="commonaddress"/>
        <item type="contacts"/>
        <item type="talkrecord"/>
        <item type="nightservice"/>
        <item type="duty"/>
    </toolbar>
</setting>
